* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

header {
  display: block;
}

.HOME {
  color: white !important;
}

footer {
  display: block;
  unicode-bidi: isolate;
}

.bg-dark {
  background-color: #343a40 !important;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

nav {
  display: block;
  unicode-bidi: isolate;
}

*, *::before, *::after {
  box-sizing: border-box;
}


.mt-5, .my-5 {
  margin-top: 3rem !important;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.navbar-brand {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 16px;
  font-size: 20px;
  line-height: inherit;
  white-space: nowrap;
  color: white;
}

.navbar-dark .navbar-toggler {
  color: hsla(0, 0%, 100%, .5);
  border-color: hsla(0, 0%, 100%, .1);
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.text-light {
  color: #f8f9fa !important;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

main a {
  color: #007bff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}

.fa-solid, .fas {
  font-weight: 900;
}

.fa-home, .fa-home-alt, .fa-home-lg-alt, .fa-house {
  --fa: "\f015";
}

.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

h2, .h2 {
  font-size: 2rem;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  direction: ltr;
  writing-mode: horizontal-tb !important; 
}

.btn-block {
  display: block;
  width: 100%;
}

.fa-classic, .fa-regular, .fa-solid, .far, .fas {
  font-family: "Font Awesome 6 Free";
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

td img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}